@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Media queries */

@media only screen and (max-width: 1200px) {
        }

/* Tags */

.text-stuff {
    color: palegreen;
    background: red;
}

.important-quote {
    color: purple;
}

.quote {
    color: red;
}

.dicks {
    color: brown;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    overflow-X: hidden;
    background-color: #73bda8;
    color: #6f5643;
}

a {
    text-decoration: none;
}

footer {
   position:relative;
   margin-top: 0em;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   padding-left: 2em;
   padding-right: 2em;
   }

input[type=submit], input[type=button] {
    margin-left: 0.3em;
    box-shadow: 2.5px 5px;
    width: 10rem;

}
tr.user-table {
    font-size: 0.6em;
    text-align: left;
}

tr.user-table.header {
    font-size: 1.2em;
    text-align: center;
}

td {
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
}

h2.main-header {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

h2.crud-header {
    text-align: center;
    font-family: 'Bangers', cursive;
}

img.activitie {
    border: 1px solid black;
    width: 100%;
    height: auto;
    min-height: 200px;
    width: 100%;
    margin-bottom: 1em;

}

/* Classes */

.row {
    padding: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem;
    width: 100%;
    margin-bottom: 1.5em;
    font-family: "Lato" sans-serif;
    opacity: 0.8;
    background: black;

}


li.nav-item.active {
    margin-left: 3rem;
}

#notdones.show {
    display: none;
}

.show {
    display: flex;
}



.container-fluid.table{
    padding: 2em 2em;
    box-shadow: 5px 10px;
    margin-top: 0.5em;
    overflow-Y: scroll;
    max-height: 500px;
    border: 1px solid black;
    color: grey;
    display: flex;
}

.show {
    display: inline;
    border: 1px solid black;
}

.input {
    max-height: 100px;
}
.static-row {
    margin-bottom: 3px;
}


.table.container-fluid td {
    font-size: 1.3em;
}

.message-container {
    border: 1px solid black;
    width: 100%;
    height: auto;
    position: relative;
}

.content-container.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text {
    height: 9em;
}

.content-header-done {
    text-decoration: line-through;
}


.form {
    padding: 2em 2em;
    box-shadow: 5px 10px;
    margin-top: 1em;
    height: 100%;
}

.delimeter-line {
    border: 1px solid black;
}
.delimeter-text {
    margin-top: 3em;
}

.description.col-md-12 {
   padding-left: 3em;
   padding-right: 0em;
}

.submit.col-md-12 {
    padding-left: 3em;
    
}

.date.row {
    margin-top: 2em;
}

.footer.container-fluid {
    height: 5em;
    width: 100%;
    margin-top: 10em;
}

.options {
    display:flex;
    justify-content: end;
    padding-right: 3em;
}

.text-stuff {
    border: 1px solid black;
    width: 100%;
}



    
/* Id's */

#act-button{
    width: 10rem;
    height: auto;
    text-align: left;
}



#submit-btn {
    width: 5em;
    margin-top: 1.1em;
    margin-left: 0.3em;
    padding: 0px;
}

#header-field, #date-field, #description {
    margin-bottom: 1.1em;
}

#description {
    width: 100%;
}

#btns.col-md-6 {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid black;
}


#btns.col-md-12 {
    border: 0; 
}

input#delete {
    margin-left: 0;
}


/* Landing page */

.stuff {
    display: flex;
    justify-content: start;
}

.list-of-notdones, .right-menu {
    position: fixed;
    margin-top: 3rem;
}

.col-md-2, .col-md-4 {
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


.right-menu {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 5rem;
}


.col-md-4.stuff {
    height: 10em;
    margin-bottom: 2em;

}

.col-md-4.stuff img {
    width: 50%;
    height: auto;
}


.col-md-12.btns {
    display: flex;
    justify-content: center;
}

.main.col-md-6 {
    display: flex;
    justify-content: end;
    margin-right: 2.5em;
}
.crud.col-md-6 {
    display: flex;
    justify-content: start;
    margin-left: 2.5em;
}
/* activitie page */

@media only screen and (max-width: 769px) {
    .list-of-notdones{
        display: none;
    }
}

#btns.col-md-4 {
    display: flex;
    justify-content: center;

}


.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}



.col-md-6.left, .col-md-6.right{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 17rem;
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.5rem;
}

.hide {
    display: none;
}

.col-md-6.right {
    justify-content: center;
}

.col-md-6.left {
    justify-content: center;
    margin-bottom: 1em;
}

.hide {
    display: none;
}


.btn-menu {
    font-family: 'Lato', sans-serif;
}
  .btn-menu::after {
    content: "MAIN";
    position: absolute;
    /*
    top: 41%;
    */
    left: 50%;
    transform: translate(-50%);
    color: red;
    transition: all 0.1s linear; }
  .btn-menu::before {
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%
    } 




.button {
  border: 2px solid #d2bdff;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 25px; }
  .button::after {
    content: "MAIN";
    position: absolute;
    /*
    top: 41%;
    */
    left: 50%;
    transform: translate(-50%);
    color: #d2bdff;
    transition: all 0.1s linear; }
  .button::before {
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%;

} 
.btn {
    background-color: #cc6b49;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #e03c30;
    color: white;
}

@keyframes star {
  0% {
    margin-left: -8px;
    margin-top: -8px; }
  25% {
    margin-left: 194px;
    margin-top: -8px; }
  50% {
    margin-left: 194px;
    margin-top: 75px; }
  75% {
    margin-left: -8px;
    margin-top: 75px; }
  100% {
    margin-left: -8px;
    margin-top: -8px; } }
  .button:hover::after {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc; }
  .btn-menu:hover::after {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc; }

.button.next::after {
    content: "NEXT";
}

.button.prev::after {
    content: "PREV";
}

.col-md-4.btn-prev {
    display: flex;
    justify-content: start;
    border: 1px solid black;
}

/* Neon text */

.neonText {
  color: palegreen; 
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h1 {
  font-size: 3rem;
  animation: flicker  infinite alternate;     
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-bottom: 0rem;
}


h3 {
  animation: flicker 10s infinite alternate;     
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  }

h3.crud {
    animation: flicker 18.3s infinite alternate;
    color: purple;
}

.header_text {
    animation: flicker 15s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


/* Main page */

h3.header {
    animation: none;
    font-family: 'Gloria Hallelujah', cursive;
}

h3.crud {
    animation: none;
    font-family: 'Press Start 2P', cursive;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}

.menu li {
    list-style-type: none;
    font-family: 'MedievalSharp', cursive;
}
























