@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Media queries */

@media only screen and (max-width: 1200px) {
        }

/* Tags */


body {
}

footer {
   position:relative;
   margin-top: 10em;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   padding-left: 2em;
   padding-right: 2em;
   }

input[type=submit] {
    margin-left: 0.3em;
    box-shadow: 2.5px 5px;

}

td {
    font-size: 3.2em;
    font-family: 'Indie Flower', cursive;
}

h2 {
    font-family: 'MedievalSharp', cursive;
}

/* Classes */


.navbar {
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem;
    width: 100%;
    margin-bottom: 3em;
    font-family: "Lato" sans-serif;
    opacity: 0.8;
    background: black;

}


.navbar-brand {
    padding-left: 1em
}

#navbarNav.collapse.navbar-collapse {
}

.table.container-fluid {
    padding: 2em 2em;
    box-shadow: 5px 10px;
    margin-top: 3em;
    overflow-Y: scroll;
    max-height: 500px;
    border: 1px solid black;
    color: grey;
}

.input {
    max-height: 100px;
}
.static-row {
    margin-bottom: 3px;
}

.table.container-fluid td {
    font-size: 1.3em;
}


.form {
    padding: 2em 2em;
    box-shadow: 5px 10px;
    margin-top: 1em;
    height: 100%;
}

.delimeter-line {
    border: 1px solid black;
}
.delimeter-text {
    margin-top: 3em;
}

.description.col-md-12 {
   padding-left: 3em;
   padding-right: 0em;
}

.submit.col-md-12 {
    padding-left: 3em;
    
}

.date.row {
    margin-top: 2em;
}

.footer.container-fluid {
    height: 5em;
    width: 100%;
    margin-top: 10em;
}

.options {
    display:flex;
    justify-content: end;
    padding-right: 3em;
}


    
/* Id's */


#submit-btn {
    width: 5em;
    margin-top: 1.1em;
    margin-left: 0.3em;
    padding: 0px;
}

#header-field, #date-field, #description {
    margin-bottom: 1.1em;
}

#description {
    width: 100%;
}


/* Landing page */

.stuff {
    display: flex;
    justify-content: start;
}

.col-md-4.stuff {
    height: 10em;
    margin-bottom: 2em;

}

.col-md-4.stuff img {
    width: 50%;
    height: auto;
}

.image-text {
    padding-top: 0.52em;
    padding-left: 0.5em;
    width: 50%;
    height: auto;
}

/* activitie page */

@media only screen and (max-width: 769px) {
    .list-of-notdones{
        display: none;
    }
}

.col-md-6.left, .col-md-6.right {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.col-md-6.right {
    justify-content: end;
}

.col-md-6.left {
    justify-content: start;
}

.btn-menu {
    font-family: 'Lato', sans-serif;
}
  .btn-menu::after {
    content: "MAIN";
    position: absolute;
    /*
    top: 41%;
    */
    left: 50%;
    transform: translate(-50%);
    color: red;
    transition: all 0.1s linear; }
  .btn-menu::before {
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%
    } 




.button {
  border: 2px solid #d2bdff;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 25px; }
  .button::after {
    content: "MAIN";
    position: absolute;
    /*
    top: 41%;
    */
    left: 50%;
    transform: translate(-50%);
    color: #d2bdff;
    transition: all 0.1s linear; }
  .button::before {
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%;
} 
@keyframes star {
  0% {
    margin-left: -8px;
    margin-top: -8px; }
  25% {
    margin-left: 194px;
    margin-top: -8px; }
  50% {
    margin-left: 194px;
    margin-top: 75px; }
  75% {
    margin-left: -8px;
    margin-top: 75px; }
  100% {
    margin-left: -8px;
    margin-top: -8px; } }
  .button:hover::after {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc; }
  .btn-menu:hover::after {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc; }

.button.next::after {
    content: "NEXT";
}

.button.prev::after {
    content: "PREV";
}

.col-md-4.btn-prev {
    display: flex;
    justify-content: start;
    border: 1px solid black;
}

/* Neon text */

.neonText {
  color: palegreen; 
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h1 {
  font-size: 3rem;
  animation: flicker  infinite alternate;     
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-bottom: 0rem;
}


h3 {
  animation: flicker 1s infinite alternate;     
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  }

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
