<div class='assigments-table user' >
    <table>
        {% if activities %}
        <tr class='user-table header'>
            <th> header </th>
            <th> at </th>
            <th> deadline </th>
            <th> prioritie </th>
            <th> status </th>
        </tr>
        {% for act in activities %}
        <tr class='user-table'>
            <td class='header'> {{ act.header }} </td>
            <td> {{ act.date_added.year}}/{{act.date_added.month }}/{{act.date_added.day}} </td>
            <td> {{ act.deadline.year }}/{{act.deadline.month}}/{{act.deadline.day}} </td>
            <td> {{ act.prioritie }} </td>
            <td> {{ act.status }} </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            this user doesnt have any assigments
        </tr>
        {% endif %}
    </table>
</div>
