{% extends 'base.html' %}
{% block title %} Title {% endblock %}
{% block body %}
<div class="container-fluid">
    {% if activitie %}
    <div class='row'>
        <div class='col-md-2'>
            <div class='list-of-notdones'>
                <h4> NotDone's: </h4>
                    <ul>
                        {% for act in activities %}
                        {% if act.id == activitie.id and act.status == "not done"%}
                        <li><a style="text-decoration: none; color: red;" href={{ url_for('details', id=act.id)}}> {{ act.header }} </a></li>
                        {% elif act.status == "done" and act.id != activitie.id %}
                        <li><a style="text-decoration: line-through; color: blue;" href={{ url_for('details', id=act.id)}}> {{ act.header }} </a></li>
                        {% elif act.status == "done" and act.id == activitie.id %}
                        <li><a style="text-decoration: line-through; color: red;" href={{ url_for('details', id=act.id)}}> {{ act.header }} </a></li>
                        {% elif act.status == "not done" and act.id != activitie.id %}
                        <li><a style="text-decoration: none; color: blue;" href={{ url_for('details', id=act.id)}}> {{ act.header }} </a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
            </div>
        </div>
        <div class='second col-md-6'>
            <div class='row'>
                <div class='left col-md-6'>
                    <form action method="POST">
                    {% if activitie.status == "done" %}
                    <div class='content-container'>
                            <input style="margin-left: 33rem" type='submit' name='delete' value='delete'>
                        <p style='text-decoration: line-through;'> {{ activitie.header }} </p> 
                        <p style='text-decoration: line-through;'> {{ activitie.description }} <p>
                    </div>
                    {% elif activitie.status == "not done" %}
                    <div class='content-container'>
                        <p> {{ activitie.header }} </p> 
                        <p> {{ activitie.description }} <p>
                    </div>
                    {% else %}
                    <div class='content-container'>
                        <p> Nothing left </p> 
                    </div>
                    {% endif %}
                    </div>
                    <div class='button-container'>
                        {% if activitie.status != "deleted" %}
                        <div class='col-md-4' id='btns'>
                            <input type='submit' name='prev-page' value='previous'>
                        </div>
                        {% if activitie.status != "done" %}
                        <div class='col-md-4' id='btns'>
                            <input type='submit' name='done' value='mark as done'>
                        </div>
                        {% endif %}
                        <div class='col-md-4' id='btns'>
                            <input type='submit' name='next-page' value='next'>
                        </div>
                        {% else %}
                        <div class='col-md-4' id='btns'>
                            <a href='{{ url_for("index")}}'> Add more stuff </a>
                        </div>
                        {% endif %}
                    </form>
                    </div>
            </div>
            {% endif %}
            <div class='row'>
                <div class='center col-md-6'>
                    <br>
                    <div class='content-container'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='right col-md-6'>
                    <div class='row'>
                        <div class="row">
                        <div class='col-md-6' style='text-align: left'  >
                            <a href='{{ url_for("main")}}'> Back to MAIN </a>
                        </div>
                        <div class='col-md-6' style='text-align: right'>
                            <a href='{{ url_for("index")}}'> Back to CRUD </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
            </div>
        </div>
        <div class='col-md-4'>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %} {% endblock %}
