{% extends 'base.html' %}
{% block title %} Title {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class='row'>
        <div class='col-md-3'>
            <div class='list-of-notdones'>
                <p> highlights current </p>
                <p><a href='#'> all links</a></p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
                <p> not done </p>
            </div>
        </div>
        <div class='second col-md-6'>
            <div class='row'>
                <div class='left col-md-6'>
                    <div class='content-container'>
                        <p> {{ activitie.header }} </p> 
                        <p> {{ activitie.description }} <p>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='center col-md-6'>
                    <div class='content-container'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='right col-md-6'>
                    <div class='content-container'>
                        <p> Contacts </p>
                        <p> tel: +372 5533511 </p>
                        <p> email: boris@blade.org</p>
                        <p> address: Moskovskaja square 12b</p>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 btn-prev'>
                    <input type='submit' name='prev' value='previous'>
                </div>
                <div class='col-md-6 btn-next'>
                    <input type='submit' name='next' value='next'>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='list-of-notdones'>
                <p> highlights current </p>
                <p><a href='#'> all links</a></p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
                <p>  done </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %} {% endblock %}
