<!DOCTYPE html>
<html lang="en">
<head>
    <!---Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=MedievalSharp&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,400&family=Montserrat:wght@200&family=Ubuntu:wght@300&family=Yellowtail&display=swap" rel="stylesheet">
    <!---endfonts-->
    <meta charset="UTF-8">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="{{ url_for('static',
                                   filename='bootstrap/css/bootstrap.css') }}"> 
    <link rel="stylesheet"
                                   href="{{url_for('static',
                                  filename='style.css') }}">
    <!-- endstylesheeets -->
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/053a636f0f.js" crossorigin="anonymous"></script>
    <!-- awesomeend -->
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='../static/jquery/jquery-3.6.0.min.js') }}"></script>
    <script>
        $(document).ready(function() {
                    return 0
                }); // end ready 
    </script>
    <!-- endjQuery -->
    <title>{% block title %}Not Done's{% endblock %}</title>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" hr ef="#">
              <span style='color: black; position: relative;'>
              <i class="far fa-eye fa-3x"></i>
              </span>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <h1 class='neonText'> Not done </h1>
          </li>
          <li class="nav-item active">
              <a href={{ url_for('index') }}><h3 style='margin-left: 1rem; margin-top: 1.5rem;'>main</h3></a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>
    </nav>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>
