<!DOCTYPE html>
<html lang="en">
<head>
    <!---Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=MedievalSharp&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Gloria+Hallelujah&family=Lato:ital,wght@0,100;1,300;1,400&family=Montserrat:wght@200&family=Press+Start+2P&family=Special+Elite&family=Ubuntu:wght@300&family=Yellowtail&display=swap" rel="stylesheet">
    <!---endfonts-->
    <meta charset="UTF-8">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="{{ url_for('static',
                                   filename='bootstrap/css/bootstrap.css') }}"> 
    <link rel="stylesheet"
                                   href="{{url_for('static',
                                  filename='style.css') }}">
    <!-- endstylesheeets -->
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/053a636f0f.js" crossorigin="anonymous"></script>
    <!-- awesomeend -->
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='../static/jquery/jquery-3.6.0.min.js') }}"></script>
    <!-- endjQuery -->
    <title>{% block title %}Not Done's{% endblock %}</title>
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <h1 class='neonText'> Not d<span class='header_text'>o</span>ne </h1>
          </li>
          <li class="nav-item active">
              <a href="{{ url_for('main') }}"><h3 class='header' style='margin-left: 1rem; margin-top: 1.5rem;'>MAIN</h3></a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('index') }}"><h3 class='crud' style='margin-left: 1rem; margin-top: 1.5rem;'>CRUD</h3></a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
              <a href="{{url_for('logout') }}"><h3 class='crud' style='margin-left: 1rem; margin-top: 1.5rem;'>LOGOUT</h3></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-2'>
                {% block cl1 %}
                {% endblock %}
            </div>
            <div class='second col-md-6'>
                {% block cl2 %}
                {% endblock %}
            </div>
            <div class='col-md-4'>
                {% block cl3 %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>

