{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class='row'>
            <div class='col-md-3'>
            </div>
            <div class='col-md-6'>
                <div class='container-fluid'>
                    <div class='row'>

                        <!--Delimeter-->
                        <div class='delimeter-text'>
                            {% if activities %}
                            <h2 style='text-align: center'>Observe own misery: </h2>
                            {% else %}
                            <h2 style='text-align: center'> Are you lost? Or maybe in doubt? </h2>
                            {% endif %}
                        </div>
                        <div class='delimeter-line'>
                        </div>
                        <!--Delimeter end-->
                        {% if activities %}
                        <form action method="POST">
                            <div class='table container-fluid'>
                                <table style='width: 100%'>
                                    <tr>
                                        <td> header </td>
                                        <td> added </td>
                                        <td> deadline </td>
                                    </tr>
                                    {% for act in activities %}
                                    <tr>
                                        <td><a href={{url_for('activitie',id=act['id']) }}>{{act['header'] }}</a></td>
                                        <td>{{ act['date_added'].year}}-{{act['date_added'].month}}-{{act['date_added'].day}}</td>
                                        <td>{{ act['deadline'].year}}-{{act['deadline'].month}}-{{act['deadline'].day}}</td>
                                        <td><input type="checkbox" name={{act['id']}}></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class='options'>
                                    <input type="submit" name="uncheck_button"
                                                         value="Uncheck">
                                    <input type="submit" name="delete_button"
                                    value='Delete'>
                            </div>
                        </form>
                        {% endif %}

                        <!---Delimeter-->
                        <div class='delimeter-text'>
                            {% if not activities %}
                            <h2> <i class="fas fa-pray">&nbsp</i>Get in touch with the One Above All: </h2>
                            {% else %}
                            <h2> <i class="fas fa-pray">&nbsp</i>Add more? </h2>
                        </div>
                            {% endif %}
                        <div class='delimeter-line'>
                        </div>
                        <!---Delimeter end-->

                        <div class='table input container-fluid'>

                            <!-- Message represntation -->
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class='flashes'>
                                {% for message in messages %}
                                <li> {{ message }} </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                            <!-- Message representation end -->

                            <div class='row'>
                            <form action method='POST' novalidate>
                                {{ form.hidden_tag() }}
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <div class='row'>
                                            {{form.header.label()}}
                                            <br>
                                            {{form.header()}}
                                        </div>
                                        <div class='row'>
                                            {{ form.date_added.label()}}
                                            <br>
                                            {{ form.date_added()}}
                                        </div>
                                        <div class='row'>
                                            {{ form.deadline.label()}}
                                            <br>
                                            {{ form.deadline(value='yy/mm/dd')}}
                                            {% for error in form.deadline.errors %}
                                            <span style='color: red;'>[{{error}}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class='col-md-6'>
                                        <div class='row'>
                                            <div class='description col-md-12'>
                                            {{form.description.label()}}
                                            <br>
                                            {{form.description(rows='4',
                                            cols='30')}}
                                            {% for error in form.description.errors %}
                                            <span style='color: red;'>[{{error}}]</span>
                                            {% endfor %}
                                            </div>
                                        <div class='row'>
                                            <div class='submit col-md-12'>
                                            {{ form.submit(size=5, maxlength=5)
                                            }}
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}
<div class='footer-info'>
    content
</div>
{% endblock %}
