{% extends 'base.html' %}
{% block title %} Main page {% endblock %}
{% block body %}
<div class='container-fluid'>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 stuff">
            <div class="container-fluid">
            <div>
                <h2 style='text-align: center'> Observe the Possibilities: </h2>
                <br>
            </div>
                <div class="row">
                    <div class='col-md-12 main'>
                        <div class='menu'>
                            <ul>
                                <li><a href='{{ url_for('index') }}'> Add and delete suff </a></li>
                                <li><a href='#'> Service </a></li>
                                <li><a href='#'> Service </a></li>
                                <li><a href='#'> Service </a></li>
                                <li><a href='#'> Service </a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock %}
