<!-- So this adds to buttons with input fields that slide out on click -->

<div class='slider' style='width: 100%'>
    <table>
        <tr>
            <td>
                <div class='box' style='position: relative;'>
                    <div class='box-inner'>
                        <table>
                            <tr>
                                <td>
                                    <form action method="POST">
                                        <input type='text' id='user_info' name='user_info'>
                                        <input type='submit' name='user_info'>
                                    </form>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
