{% extends 'base.html' %}
{% block title %} {{ current_user.first_name }}'s page {% endblock %} 
{% block cl1 %}
<h4> Other users: </h4>
{% for user in users %}
{% if user.first_name != current_user.first_name %}
<div style='width: 100%'>
    <table style='font-size: 0.5rem; width: 100%;'>
        <tr>
            <td style='margin-bottom: 0px;'>
                <h5> <a href="{{ url_for('user_page', username=user.first_name )}}">{{ user.first_name}}</a> </h5> 
            </td>
            <td style='padding-bottom: 0px;'>
                <h5> Online </h5> 
            </td>
        </tr>
        <tr>
            <td>
                <p style='font-size: 0.7em;'>last seen: 12.12.1975</p> 
            </td>
        </tr>
    </table>
</div>
{% endif %}
{% endfor %}

{% endblock %}
{% block cl2 %}
<div style='padding-left: 5rem;'>
    <div style='width: 100%; height: auto; border-radius: 10px; background-color: #d2a24c; box-shadow: 5px 10px #f2eac5; border: 1px solid #f2eac5; margin-bottom: 3rem;'>
    <table>
        <tr>
            <td style='font-size: 1rem; vertical-align: top;'>
                <img src="{{ user.avatar(130) }}" style='margin-top: 10px; width: 130px; height: 130px; border: 1px solid black; border-radius: 50%; margin-left: 10px;'>
                </img>
                <button class='btn user-btn slide-toggle'> CHANGE PROFILE</button>
            </td>
            <td style='font-size: 1rem; width: 70%; vertical-align: top;'>
                <div style='padding-left: 1.5rem'>
                    <p> Hi, im {{ username }}</p>
                    {% if current_user.first_name == username %}
                    <div class='user-info' style='width: 100%; height: 4rem'>
                        <p> I am currently logged in </p>
                    </div>
                    {% if current_user.first_name == username %}
                        {% include 'sliders.html' %}
                    {% endif %}
                    {% endif %}
                </div>
            </td>
            <td style='font-size: 1rem; width: 30%; vertical-align: middle; padding-left: 15px; padding-right: 15px; display: inline-block'>
                    <button class='btn' style='margin-top: 3.6px;'> HATE </button>
                    <button class='btn'> UNFOLLOW</button>
                    <button class='btn' style='margin-bottom: 1.6px'>THREATEN</button>
            </td>
        </tr>
    </table>
    <div>
    </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/jsquery_functions.js' )}}"></script>
{% include '_assigments-user.html' %}
{% endblock %}
{% block cl3 %}
{% endblock %}
