{% extends 'base.html' %}
{% block title %} {{ user.first_name }}'s page {% endblock %} 
{% block cl1 %}
<h4> Other users: </h4>
{% for user in users %}
{% if user.id != current_user.id %}
<div style='width: 100%'>
    <table style='font-size: 0.5rem; width: 100%;'>
        <tr>
            <td style='margin-bottom: 0px;'>
                <h5> <a href="{{ url_for('user_page', user_id=user.id )}}">{{ user.first_name}}</a> </h5> 
            </td>
            <td style='padding-bottom: 0px;'>
                <h5> Online </h5> 
            </td>
        </tr>
        <tr>
            <td>
                <p style='font-size: 1.2em;'>{{ user.last_seen}} </p> 
            </td>
        </tr>
    </table>
</div>
{% endif %}
{% endfor %}

{% endblock %}
{% block cl2 %}
<div>
    <div style='width: 100%; height: auto; border-radius: 10px; background-color: #d2a24c; box-shadow: 5px 10px #f2eac5; border: 1px solid #f2eac5; margin-bottom: 3rem; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px;'>
    <table>
        <tr>
            <td style='font-size: 1rem; vertical-align: top;'>
                <img class='user-avatar' src="{{ user.avatar(130) }}" >
                </img>
            <td style='font-size: 1rem; width: 70%; vertical-align: top;'>
                <div style='padding-left: 1.5rem'>
                    <p> Hi, im {{ username }}</p>
                    {% if current_user.id == user.id %}
                        <p> I am currently logged in </p>
                    {% endif %}
                    <p> Role: {{ role }} </p>
                    <p> About: {{ info }} </p>
                    <p> Email: {{ email }} </p>
                    <p> Last seen: {{user.last_seen }} </p>
                </div>
            </td>
            <td style='font-size: 1rem; width: 30%; vertical-align: middle; padding-left: 15px; padding-right: 15px; display: inline-block'>
                <div class='buttons' style='position: relative'>
                    <form action='' method="POST">
                    <table>
                        <tr>
                            {% if current_user.id != user_id %}
                            <td>
                                <a href="{{ url_for('follow', user_id = user_id) }}">follow</a>
                                <a href="{{ url_for('unfollow', user_id = user_id) }}">unfollow</a>
                            <td>
                                {% if current_user.is_following(user) == True %}
                                    <button class='btn' name='unfollow' style='margin-top: 3.6px;'> UNFOLLOW </button>
                                {% else %} 
                                    <button class='btn' name='follow' > FOLLOW</button>
                                {% endif %}
                                <button class='btn' style='margin-bottom: 1.6px'>THREATEN</button>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </td>
            </td>
        </tr>
    </table>
                {% if current_user.id == user_id %}
                <div>
                    <table>
                        <tr>
                            <td>
                    <button type='button' id=0 class='btn user-btn slide-toggle'> ADD INFO</button>
                            </td>
                            <td>
                    <button type='button' id=1 class='btn user-btn slide-toggle'> CHANGE ROLE</button>
                            </td>
                            <td>
                    <button type='button' id=2 class='btn user-btn slide-toggle'> CHANGE USERNAME </button>
                            </td>
                            <td>
                    <button type='button' id=3 class='btn user-btn slide-toggle'> CHANGE EMAIL </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <form action='' method="POST">
                <div class='box' id=0>
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token() }}
                    <div class='box-inner'>
                        {{ form.info(class='box-input-form about', value='none', id='about') }}
                        {{ form.submit(class='btn') }} 
                    </div>
                </div>
                <div class='box' id=1>
                    <div class='box-inner'>
                        <select class='box-input-form role'>
                            <option value='Commoner'>Commoner</option>
                            <option value='Commoner'>Developer</option>
                            <option value='Commoner'>Manager</option>
                        </select>
                        {{ form.role(class='box-input-form role', value=user.role) }}
                        {{ form.submit(class='btn role', id='role') }} 
                    </div>
                </div>
                <div class='box' id=2>
                    <div class='box-inner'>
                        {{ form.username(class='box-input-form username', value=username) }}
                        {{ form.submit(class='btn role', id='username') }}
                    </div>
                </div>
                <div class='box' id=3>
                    <div class='box-inner'>
                        {{ form.email(class='box-input-form username', value=user.email) }}
                        {{ form.submit(class='btn role', id='email') }}
                    </div>
                    {% for error in form.username.errors %}
                    <div class='alert'> This is error </div>
                    {% endfor %}
                </div>
                </form>
                {% endif %}
    {% include '_assigments-user.html' %}
    <div>
    </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/jsquery_functions.js' )}}"></script>
{% endblock %}
{% block cl3 %}
<h3> Followers: </h3>
<div class='follower-list'>
    <ol>
        {% for follower in user.followers.all() %}
        <li><img class='user-avatar' src="{{ follower.avatar(30) }}"</img><a href="{{ url_for('user_page', user_id=follower.id) }}"> {{ follower.username}} </a></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}













